h1,
h2,
h3,
.footer {
  text-align: center;
}
h1 {
  font-size: 100px;
  margin-top: 20px;
}
h2 {
  font-family: roboto;
  font-style: italic;
  font-size: 35px;
  margin-bottom: 50px;
}

.weather-app {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-family: quicksand;
}
.location-button {
  width: 5%;
}
.input-group {
  margin-bottom: 50px;
}
.forecast {
  text-align: center;
  margin-top: 50px;
}
.weather-icon {
  font-size: 80px;
}
.footer {
  margin-top: 20px;
}
